<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<style>
    h3 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
</style>

<body style="background-color:white; color:black">

    <div class="wrapper">
        <div class="jumbotron" class="btn btn-dark" style= "color:white; font-size: 50px; ">
          <h1 class="display-4"><b>Bitcoin Analysis and Forecast</b></h1>
          <style>
              .jumbotron {
              background-image: url("../static/logo.png");
              background-color: orange;
              background-repeat: no-repeat;
              background-size: 20% 100%;
              text-align: center;
              font-style: italic;
              }    
          </style>
        </div>
        
        <div class="row">
            <div class="col-6">
                <form name="form", action="/run" method="post", style="text-align: center;">
                    <h3> <input type="date" name="Date" value="2023-01-01" class="btn btn-dark" style= "color:white; font-size: 30px; background:orange; padding: 14px 150px"
                    min="2023-01-01" max="2024-12-31",/>
            </div>
            <div class="col-6">
                <button class="btn btn-dark"  value="FORECAST" style= "color:white; font-size: 30px; background:orange; padding: 14px 150px;" >FORECAST</span> </button>
            </div>
        </div>
        <br><br>
        <div class="col">
        <h3 <p>{{ output }}</p> </h3>
        
        <div class="row">
            <div class="col">
              <iframe src="../static/priceath.html" height="400" width="500" title="Iframe Example"></iframe>
              <iframe src="../static/price-mean.html" height="400" width="500" title="Iframe Example"></iframe>
              <iframe src="../static/meanaverage.html" height="400" width="500" title="Iframe Example"></iframe>
              <iframe src="../static/previousATH.html" height="400" width="500" title="Iframe Example"></iframe>
            </div>
            
        
        </div>  
  
            <br><br>
            <center><h2 class="text-black"> Bitcoin Prophet Model </h2>
            <center><iframe src="../static/combo.html" height="700" width="1000" title="Iframe Example"></iframe>
            <br><br>
            <br><br>
            <center><h2 class="text-black"> Bitcoin Prophet Model + Buy Zones with Bull/Bear </h2>
            <center><iframe src="../static/combodates.html" height="700" width="1000" title="Iframe Example"></iframe>
            <br><br>
            <center><h2 class="text-black"> Bitcoin Expanding Mean + Meanaverage </h2>
            <center><iframe src="../static/Bitcoinvaluestatus2.html" height="700" width="1000" title="Iframe Example"></iframe>
            <br><br>
            <center><h2 class="text-black"> Approximate date/time to reach previous ATH</h2>
            <center><iframe src="../static/approximatenextath.html" height="700" width="1000" title="Iframe Example"></iframe>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>